<div>
  <h2 id="page-heading" data-cy="PresupuestoHeading">
    <span jhiTranslate="angularv3App.presupuesto.home.title">Presupuestos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="angularv3App.presupuesto.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-presupuesto"
        [routerLink]="['/presupuesto/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="angularv3App.presupuesto.home.createLabel">Create a new Presupuesto</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (presupuestos().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="angularv3App.presupuesto.home.notFound">No Presupuestos found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="monto">
              <div class="d-flex">
                <span jhiTranslate="angularv3App.presupuesto.monto">Monto</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="periodo">
              <div class="d-flex">
                <span jhiTranslate="angularv3App.presupuesto.periodo">Periodo</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="fechaInicio">
              <div class="d-flex">
                <span jhiTranslate="angularv3App.presupuesto.fechaInicio">Fecha Inicio</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="fechaFin">
              <div class="d-flex">
                <span jhiTranslate="angularv3App.presupuesto.fechaFin">Fecha Fin</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="usuario.login">
              <div class="d-flex">
                <span jhiTranslate="angularv3App.presupuesto.usuario">Usuario</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="categoria.id">
              <div class="d-flex">
                <span jhiTranslate="angularv3App.presupuesto.categoria">Categoria</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (presupuesto of presupuestos(); track trackId(presupuesto)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/presupuesto', presupuesto.id, 'view']">{{ presupuesto.id }}</a>
              </td>
              <td>{{ presupuesto.monto }}</td>
              <td [jhiTranslate]="'angularv3App.PeriodoPresupuesto.' + (presupuesto.periodo ?? 'null')">
                {{ { null: '', SEMANAL: 'SEMANAL', MENSUAL: 'MENSUAL' }[presupuesto.periodo ?? 'null'] }}
              </td>
              <td>{{ presupuesto.fechaInicio | formatMediumDate }}</td>
              <td>{{ presupuesto.fechaFin | formatMediumDate }}</td>
              <td>
                {{ presupuesto.usuario?.login }}
              </td>
              <td>
                @if (presupuesto.categoria) {
                  <div>
                    <a [routerLink]="['/categoria', presupuesto.categoria.id, 'view']">{{ presupuesto.categoria.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/presupuesto', presupuesto.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/presupuesto', presupuesto.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(presupuesto)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
